// below 688px
@media (max-width: 43em) {
   html {
      font-size: 59%;
   }
}

// below 640px
@media (max-width: 40em) {
   html {
      font-size: 55%;
   }
   .main {
      width: 90%;
   }
   // .sun-hu-uv-container {
   //    // width: 93%;
   // }
   .overall-with-chart-container {
      grid-template-columns: 1fr !important;
   }
   .chart-js {
      width: 99%;
   }
   .input {
      width: 13.5rem;
   }
}

// below 368
@media (max-wdith: 23em) {
   .input {
      width: 16rem !important;
      background-color: blue;
   }
}
